@font-face {
    font-family: VT232;
    src:local("C:\Users\armaansandhu\Library\Fonts\/Users/armaansandhu/Library/Fonts/VT323-Regular.ttf");
}


*{
    font-family: VT232 , sans-serif;
    background-color: #B9D6F2;
}
html, body {
    margin: 0;
    height: 100%;
}
h1{
    font-size: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border-radius: 10px;
    border: 10px solid #061A40;
    height: 540px;
    width: 400px;
    display: flex;
    flex-direction:column;
}
.container-top{
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;

    border-bottom: 5px solid;
}

.computed-total{
    display: flex;
    justify-content: flex-end;
    font-size: 4em;
    padding-right: 30px;

}

.container-bottom{
    height: 100%;
    width: 100%;
}

.big-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    gap: 9px;
    border-radius: 8px;
}
.add,
.mul,
.sub,
.divi{
    background-color: lightgreen;
}
/* .sub,
.divi{
    background-color: red;
} */
.equals{
    background-color: lightseagreen;
}


.clear,
.delete{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1.5em;
    width: 5.5em;
    font-size: 2em;
    border-radius: 8px;
    border: 3px solid black;
}

.clear{
    background-color: #ff7377;
}
.delete{
    background-color: #CBC3E3;
}

.numbers-ops{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.nine,
.eight,
.seven,
.divi,
.six,
.five,
.four,
.mul,
.three,
.two,
.one,
.sub,
.decimal,
.zero,
.equals,
.add{
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: 2px;
    border: 3px solid black;
    border-radius: 8px;

}

button:hover{
    background-color: white;
    transition: .2s;
    border-radius: 6px;

}

