*{
    font-family: 'VT323', sans-serif;
    background-color: #B9D6F2;
}
html, body {
    margin: 0;
    height: 100%;
}
h1{
    font-size: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    border-radius: 10px;
    border: 10px solid #061A40;
    height: 540px;
    width: 400px;
    display: flex;
    flex-direction:column;
}
.container-top{
    padding-bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;

    border-bottom: 10px solid;
}

.computed-total{
    display: flex;
    justify-content: center;
    font-size: 4em;

}

.container-bottom{
    height: 100%;
    width: 100%;
}

.big-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    gap: 9px;
    border-radius: 8px;
}


.clear,
.delete{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 1.5em;
    width: 5.5em;
    font-size: 2em;
    border-radius: 8px;
}

.numbers-ops{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.nine,
.eight,
.seven,
.divide,
.six,
.five,
.four,
.multiply,
.three,
.two,
.one,
.subtract,
.decimal,
.zero,
.equals,
.add{
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: 2px;
    border: 3px solid black;
    border-radius: 8px;

}

